.auth_container {
  height: fit-content;
  max-width: 718px;
  border-top-right-radius: 90px;
  border-bottom-right-radius: 90px;
  background: linear-gradient(180deg, #634AAD 0%, #FFFFFF 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  width: 100%; 
  box-sizing: border-box;
}

.body_background {
  background-image: url(/auth_background_img/auth_background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  min-height: 100vh; 
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto; 
  scroll-behavior: smooth;
  background-color: #634AAD; 
}

@keyframes slide_up {
  0% {
    transform: translateY(50px); 
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}


@media (max-width: 1440px) {
  .auth_container {
    max-width: 90%; 
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
  }
}


@media (max-width: 768px) {
  .body_background {
    background-image: none;
    background-color: #634AAD; 
  }

  .auth_container {
    max-width: 100%;
    width: 100%;
    border-radius: 0;
    box-shadow: none;
  }
  

  .auth_container > * {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}