
.post_showcase img{
  cursor: pointer;
}

.post_showcase{
	width: 100%;
	background-color: white;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 2rem;
}
.showcase_header{
  display: flex;
  justify-content: space-between;
}

.post_actions{
  display: flex;
  gap: 2rem;
  font-size: 30px;
  font-family: "sansation-700";

}


.save_container,.copy_link_container,.title_container, .leave_post_container{
  display: flex;
  gap: .8rem;
  align-items: center;
}

.title_logo,.leave_post_logo,.copy_link_logo,.save_logo{
  display: flex;
  align-items: center;
}

.title_logo, .leave_post_logo{
  height: 40px;
  width: 40px;
}

.copy_link_container{
  cursor: pointer;
}

.copy_link_logo{
  height: 33px;
  width: 33px;
}


.save_container{
  cursor: pointer;
}

.save_logo{
  height: 20px;
  width: 20px;
}
/* handling hover when save is or is not active */
.save_container .save_logo svg.save_inactive{
  fill: rgba(254, 26, 26, 0);
  transition: fill .3s linear;
}

.save_container:hover .save_logo svg.save_inactive{
  fill: rgba(254, 26, 26, 1);
}

.save_container .save_logo svg.save_active{
  fill: rgba(254, 26, 26, 1);
  transition: fill .3s linear;
}

.save_container:hover .save_logo svg.save_active{
  fill: rgba(254, 26, 26, 0);
}
/* ^^^ handling hover when save is or is not active */


.title_container .title, .leave_post_container .leave_post_logo{
  font-size: 40px;
  font-family: "sansation-700";
}


.pictures_container{
  display: flex;
  min-height:500px;
  background-color: transparent;
  padding-left: 3rem;
  gap: 5rem;
  align-items: center;
}

.lessT3_pictures_container{
  justify-content: center;

}

/* .moreT3_picture{
  max-Width:475px;
} */

.pictures_container .main_picture{
  height: inherit;
  background-color: red;
  flex-grow: 1;
  max-width: 650px;
  max-height: 500px;
  overflow: hidden;
  border-radius: 23px;
}

.pictures_container .side_pictures{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(475px, 1fr));
  grid-template-rows:max-content;
  row-gap: 40px;
  column-gap: 2rem;
  height: inherit;
  flex-grow: 1;
  background-color: transparent;
  max-height: 500px;
  overflow: hidden;
}

.pictures_container .side_pictures .picture{
  max-height: 230px;
  justify-self: center;
  max-width: 475px;
  border-radius: 23px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.images_navigation{
  display: flex;
  justify-content: space-between;
}



.entire_home{
  font-family: "sansation-700","sans-sarif";
  font-size:35px;
}

.house_details{
  font-family: "sansation-400","sans-sarif";
  font-size: 25px;
}

.show_pictures_container button{
  height: 49px;
  width: 257px;
  border-radius:23px;
  font-family: 'sansation-700', sans-serif;
  font-size: 20px;
  border: none;
  background-color: var(--secondary-color);
  color: white;
  transition: background-color ease-out 100ms;
  cursor: pointer;
}


.show_pictures_container button:hover{
  background-color: var(--color-btn-hover);
}

.all_pictures_container{
	background: #fff;
	flex-direction: column;
	gap: 1rem;
	padding: 2rem;
	display: flex;

}

.all_pictures_container .show_pictures_container{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(850px, 1fr));
  grid-template-rows:auto;
  row-gap: 40px;
  column-gap: 2rem; 
  max-width: 1732px;
  align-self: center;
  width: 100%;
}

.all_pictures_container .show_pictures_container .picture{
  max-height: 470px;
  justify-self: center;
  max-width: 850px;
  border-radius: 23px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.leave_show_pictures{
  width:20px;
  height:20px;
  background-color:transparent;
  border-radius:23px;
  border:none;
  cursor:pointer;
  font-size: 1rem;
}

.mobile_view{
  display: none;
}

.desktop_view{
  display: block;
}


.showcase_header_mobile{
	background-color: #D9D9D9;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 1rem 2rem;
}

@media (max-width:1050px) {
  .mobile_view{
    display: block;
  }
  .desktop_view{
    display: none;
  }
  .title_container .title{
    font-size: 30px;
  }
  .show_pictures_container{
    display: none;
  }
}

@media (max-width:500px) {
  .mobile_view{
    display: block;
  }
  .desktop_view{
    display: none;
  }
  .title_container{
    gap: .4;
  }
  .title_container .title{
    font-size: 20px;
  }
  .show_pictures_container{
    display: none;
  }
  .title_logo svg{
    height: 30px !important;
    width: 30px !important;
  }
  .entire_home{
    font-size: 20px;
  }
  .house_details{
    font-size: 13px;
  }
  .post_showcase{
    padding-bottom: .5rem;
  }
  .showcase_header_mobile .post_actions{
    font-size: 20px;
  }
  
}

@media (min-width:500px){
  
}
