
body {
  background-color: grey;
  min-height: 100vh;
}


#navbar{
  min-width: 100%;
  height: 98px;
  background-color: rgba(99, 74, 173, 0.85);
  display: flex;
  align-items: center;
  padding-right: 4rem;
}

#navbar #logo_container{
  height: 50px;
  display: flex;
  flex-grow: 1;
  max-width: 300px;
}

#navbar #logo_container #nav_logo{
  background-color: red;
  height: 40px;
  width: 50px;
}
#navbar #navigation{
  display: flex;
  gap: 4rem;
  align-items: center;
  padding-right: 2rem;
}

#navbar #navigation #navigation_links{
  display: grid;
  grid-template-columns: repeat(4,minmax(min-content,max-content) );
  grid-template-rows: max-content 2px;
  column-gap: 4rem;
  row-gap: .5rem;
  flex-grow: 4;
  align-items: center;
  grid-template-areas: 
  ". . . ."
  "indicator . . .";
  
}

#navbar #navigation .nav_text{
  color: white;
  font-size: 20px;
  cursor: pointer;
  font-family: "sansation-400";
}

#navbar #navigation .nav_indicator{
  grid-area: indicator;
  height: 4px;
  background-color: transparent;
  bottom: -.2rem;
  width: 100%;
}

#navbar .nav_search{
  min-width: 215px;
  height: 48px;
  background-color: rgb(34, 14, 103, 1);
  display: flex;
  border-radius: 23px;
  padding-left: 1rem;
  gap: 1rem;
  cursor:pointer;

}

#navbar .nav_search .find_retals_h3_container{
  background-color: transparent;
  height: 100%;
  display: flex;
  color: white;
  font-size: 20px;
}

#navbar .nav_search .find_retals_h3{
  position: absolute;
  align-self: center;
  justify-self: center;
  font-family: "sansation-700";
}

#navbar .nav_search .search_logo_container{
  display: flex;
}

#navbar .nav_search .search_logo{
  height: 20px;
  width: 20px;
  align-self: center;
}

#navbar #user_controls{
  display: flex;
  gap: 1.5rem;
  flex-grow: 2;
  
  justify-content: end;
}

#navbar #user_controls .settings,#navbar #user_controls .user_profile{
  cursor: pointer;
}

.user_settings_container{
  position: relative;
}

.user_settings_container .container{
  position: absolute;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:1rem;
  width: max-content;
  border: 3px solid black;
  border-radius: 23px;
  right: -100%;
  top: calc(100% + 30px);
  gap: .5rem;
}

.user_settings svg{
  position: absolute;
  top: calc(100% + 45px);
  right: -80%;

}


.container .user_email{
  font-family: "sansation-700", sans-serif;
  font-size: 20px;
}

.container .user_pfp{
  height: 90px;
  width: 90px;
  border-radius: 50px;
  border:3px solid black;
}

.container .hi_user{
  font-family: "sansation-700", sans-serif;
  font-size: 25px;
}

.container .user_settings_button{
  font-family: "sansation-700", sans-serif; 
  font-size: 20px;
  padding-top: .5rem;
  padding-bottom: .5rem;
  color: white;
  background-color: rgba(34, 14, 103, 1);
  border-radius: 23px;
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: pointer;
}

.user_settings_form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 400px;
  align-items: center;
}

.user_settings_form input:not([type="submit"]):not([type="button"]),.user_settings_form select{
  height: 47px;
  border: none;
  border-radius: 23px;
  background-color: rgba(217, 217, 217, 1);
  font-size: 20px;
  font-family: "sansation-400",sans-serif;
  display: flex;
  width: 300px;
  padding-left: 2rem;
  outline: none;
}

.user_settings_form select{
  padding-right: 2rem;
  
}

.user_settings_form input:not([type="submit"]):not([type="button"]):focus{
  border: 3px solid rgba(34, 14, 103, 1);
}

.user_settings_form input:not([type="submit"]):not([type="button"])::placeholder{
  color: black;

}


.user_settings_form input[type="submit"],.user_settings_form input[type="button"]{
  width: 138px;
  height: 40px;
  background-color: rgba(34, 14, 103, 1);
  color: white;
  border-radius: 23px;
  font-family: "sansation-700", sans-serif;
  font-size: 20px;
  border: none;
  cursor: pointer;
}


.user_settings_form input:not([type="submit"]):not([type="button"]):not(:placeholder-shown){
  background-color: white;
  color: black;
  border: 3px solid rgba(34, 14, 103, 1);

}

.buttons_container{
  display: flex;
  gap: 2rem;
}

.error_message{
  color: red;
  padding-left: 1rem;
  font-size: 20px;
}