.radio_container{
  display: flex;
  justify-content: space-between;
}

.custom_radio[type="radio"] {
  appearance: none;
  -webkit-appearance: none; /* Safari */
  -moz-appearance: none;    /* Firefox */
}


.custom_radio{
  cursor: pointer;
  min-height: 78px;
  max-width: 180px;
  background-color: #E4E4E4;
  flex-grow: 1;
  border-radius: 70px;
  position: relative;
  transition: all 300ms linear;
}

.radio_container label{
  position: absolute;
  z-index: 1;
  font-family: "sansation-700";
  font-size: var(--font-s-25);
  color: var(--color-btn-hover);
  cursor: pointer;
}

.custom_radio:checked{
  background-color: var(--color-btn-hover);
}

.custom_radio:checked+label{
  color: white;
}



.left_container{
  display: flex;
  min-width: 200px;
  justify-content: center;
  align-items: center;
}

.right_container{
  display: flex;
  min-width: 200px;
  justify-content: center;
  align-items: center;
}



@media (max-width:1440px) {
  .custom_radio{
    min-height: 60px;
    font-size: var(--font-s-20);
}  

}